/* styles.css */
.navbar-logo {
    max-width: 100px; /* Adjust the maximum width as needed */
    height: auto;
}
.custom-navbar {
    background-color: rgba(83, 78, 78, 0.582); /* Light gray with low opacity */
  }
  .navbar-nav .nav-link {
    color: rgb(255, 255, 255) !important;
  }
.hero-text{
    color: white;
    font-weight: bold;
}
.hero-row{
    margin-top: 1%;
    z-index: 999;

}


@media (min-width: 768px) and (max-width: 1024px) {
    .hero-row {
        margin-top: 15%;

    }
  }
  
  @media (min-width: 1024px) {
    .hero-row {
        margin-top: 40%
    }
  }
  
  @media (max-width: 767px) {
    .hide-on-small-screen {
      display: none;
    }
  }
  .custom-collapse {
    z-index: 1000;
    background-color: black;
  }

  @media (min-width: 768px) and (max-width: 1024px) {
    .custom-collapse {
        background-color: transparent;
    }
  }

  @media (min-width: 1024px) {
    .custom-collapse {
        background-color: transparent;
    }
}

.link {
  color: inherit; /* Use the same color as the default state */
  text-decoration: none; /* Remove underline */
}
.link:hover{
  color: rgb(86, 81, 81);
}